LITELLM_POSTGRES_DB=litellm
LITELLM_POSTGRES_USER=litellm
LITELLM_POSTGRES_PASSWORD=litellm
LITELLM_POSTGRES_HOST=host.docker.internal
LITELLM_SALT_KEY=${LITELLM_SALT_KEY}
OLLAMA_SRC1=${OLLAMA_SRC1}
OLLAMA_SRC2=${OLLAMA_SRC1}
BRAVE_API_KEY=${BRAVE_API_KEY}
LITELLM_API_KEY=${LITELLM_API_KEY}
RAG_POSTGRES_DB=pgvector
RAG_POSTGRES_USER=pgvector
RAG_POSTGRES_PASSWORD=pgvector
RAG_POSTGRES_HOST=host.docker.internal
OPEN_TERMINAL_MULTI_USER=true
OPEN_TERMINAL_API_KEY=${OPEN_TERMINAL_API_KEY}